<div class="container">
    <div class="container">
      <h2>Contact</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In qui
        perspiciatis dignissimos consectetur fugiat fuga veritatis distinctio
        placeat vel exercitationem corrupti eligendi assumenda, beatae omnis
        inventore optio. Omnis, deleniti numquam.
      </p>
    </div>
    <div class="bg-light p-2">
      <!-- Email+AreaText -->
      <div class="container">
        <div class="row">
          <div class="col-2">
            <label for="exampleFormControlInput1" class="form-label fw-bold"
              >Your E-mail</label
            >
          </div>
          <div class="col-10">
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Your email here..."
            />
          </div>
        </div>
      </div>
      <!-- Mensagge+AreaText -->
      <div class="d-grid m-2">
        <div class="row">
          <div class="col-2">
            <label
              for="exampleFormControlTextarea1"
              class="form-label fw-bold"
              >Your message</label
            >
          </div>
          <div class="col-10">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              placeholder="Please enter your message here..."
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="d-grid mt-1 justify-content-end">
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </div>
  </div>